<% layout("/layouts/boilerplate") %>


<div class="row">
<div class="col-8 offset-2">
    <h3 class="mt-2"> Edit your Listing</h3>
    <form action="/listings/<%=listing._id %>?_method=PUT" method="post" 
          class=" needs-validation"  
          novalidate
          enctype="multipart/form-data"
          >

        <div class="mb-1">
            <label for="Title" class="form-label">Title</label>
            <input type="text" 
                   class="form-control" 
                   id="Title" 
                   name="listing[title]" 
                   value="<%= listing.title %>"
                   required
                   >
            <div class="valid-feedback"> Looks good!</div>
            <div class="invalid-feedback">  Please enter a title.</div>
        </div>

        <div class="mb-1">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" 
                      name="listing[description]"  
                      id="description" 
                      rows="3"
                      required><%= listing.description %></textarea>
            <div class="valid-feedback">  Description looks great.</div>
            <div class="invalid-feedback">  Please provide a description.</div>
        </div>

       <div class="mb-3">
          <label class="form-label">Current Image</label><br>
           <img src="<%= originalImageUrl %>" 
                alt="Current Listing Image" 
                class="img-thumbnail rounded shadow-sm" 
                style="max-width: 250px; height: auto;"
             >
</div>

         <div class="mb-1">
             <label for="Image" class="form-label">Upload New Image</label>
            <input type="file" 
                   class="form-control" 
                   name="listing[img]" 
                   id="Image" 
                   value="<%= listing.img %>" 
                   >
            <div class="valid-feedback">  Image added successfully.</div>
            <div class="invalid-feedback">  Please provide a valid image.</div>   
         </div>

          <div class="row">
             <div class="mb-1 col-md-4">
             <label for="description" class="form-label">Price</label>
              <span class="prefix">₹</span>
            <input type="number"  
                   class="form-control" 
                   name="listing[price]" 
                   value="<%= listing.price %>"
                   required
                   >
            <div class="valid-feedback">  Price looks good.</div>
            <div class="invalid-feedback">  Please enter a valid price.</div>
         </div>

         <div class="mb-1 col-md-8">
            <label for="description" class="form-label">Country</label>
            <input type="text"  
                   class="form-control" 
                   name="listing[country]" 
                   value="<%= listing.country %>"
                   required
                   >
             <div class="valid-feedback"> Country looks fine.</div>
            <div class="invalid-feedback">  Country is required.</div>
         </div>

         </div>
          <div class="mb-1">
            <label for="description" class="form-label">Location</label>
            <input type="text"   
                   class="form-control" 
                   name="listing[location]" 
                   value="<%= listing.location %>"
                   required
                   >
            <div class="valid-feedback">  Location looks fine.</div>
            <div class="invalid-feedback"> Location is required. </div>
         </div>

         <button type="submit" class=" btn btn-danger mt-2">Edit</button>
    </form>

</div>
</div>
